<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@argdown/web-components/dist/argdown-map.css"><script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs/webcomponents-bundle.js" type="module"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@argdown/web-components/dist/argdown-map.js"></script><figure  role="group" class="argdown-figure"><argdown-map      initial-view="map"><div slot="source" class=""><pre class="language-argdown"><code class="language-argdown"><span class="hljs-section">## Structure Layout in WGSL</span>
<span class="hljs-comment">&lt;!--
How to expose layout control of host-shareable structures in WGSL.
Relevant issues:
  - https://github.com/gpuweb/gpuweb/issues/166 - initial
  - https://github.com/gpuweb/gpuweb/issues/561 - offsets
  - https://github.com/gpuweb/gpuweb/issues/621 - layout
  - https://github.com/gpuweb/gpuweb/pull/1339 - spans
Supplementary materials:
  - https://github.com/microsoft/DirectXShaderCompiler/wiki/Buffer-Packing
  - https://www.khronos.org/opengl/wiki/Interface_Block_(GLSL) (Memory Layout)

Background:
Uniform buffers have more strict alignment requirements than storage buffers.
SPIR-V requires each struct member to be decorated with an &quot;offset&quot; qualifier.
GLSL requires the structs to be decorated with &quot;std140&quot;, &quot;std430&quot;, or other layouts.
--&gt;</span>

<span class="hljs-statement-title">[Offset decorations]:</span> We need to have a separate &quot;offset&quot; decorator on each member.
<span class="hljs-attack">  -</span> <span class="hljs-argument-title">&lt;Verbose&gt;:</span> sprinkling offsets is mostly mechanical, but still tedious. Each offset
    depends on the type of the current field as well as the previous offset.

<span class="hljs-comment">&lt;!-- What about offsets being explicit? It&#x27;s not obvious that this actually makes thing simpler.
You&#x27;d still need the offsets from both sides, and to compare them. --!&gt;

[Span decorations]: We need to have a &quot;span&quot; decorator on the fields with types that
  occupy more space in the texture than the type size is.
  - &lt;Context&gt;: it&#x27;s easy to miss the fact that a span of a field actually depends on
    the type of the next field, since a type dictates the alignment.

&lt;Automation&gt;: given knowledge of where a structure is used (uniform vs storage buffers),
  figuring out the structure layout is mechanical. We shouldn&#x27;t require the user to do
  this by hand if we are going to be computing it ourselves.
  +&gt; [Span decorations]
  +&gt; [Layout decoration]

&lt;Padding&gt;: if the user needs extra padding, they can insert it themselves.
  Most users don&#x27;t need extra padding, so inventing language tools to address this need
  is too heavy-handed.
  +&gt; &lt;Automation&gt;
  + &lt;Rich types&gt;: Where necessary, we can introduce the types with different layout.
    For example, a `vec3w` would take as much space as `vec4`.

[Layout decoration]: We just need a decoration on the struct itself. Based on the layout,
  we can compute the layout of the fields.
  + &lt;Easy validation&gt;: once you see a structure with a concrete layout, it&#x27;s clear
    whether this structure can be used in uniform or storage buffers.

&lt;!-- What about proliferation of different layout types, e.g. &quot;relaxed&quot; and &quot;scalar&quot;?
My understanding is that if we add any of those, we&#x27;d still have to specify what requirements
they have on spans/offsets, so the constraints are in place. The question becomes more of
whether the constraints are explicit or implicit. --!&gt;

[Unified layout]: We should define one and only layout enforced in all host-shareable structs.
  - &lt;Storage&gt;: Storage buffers can use a more tight layout, and for many users this makes
    a solid difference in performance.</span></code></pre></div><div slot="map">
<!-- Generated by graphviz version 2.47.0 (20210316.0004)
 -->
<!-- Title: Argument Map Pages: 1 -->
<svg width="666pt" height="522pt"
 viewBox="0.00 0.00 666.00 522.40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 518.4)">
<title>Argument Map</title>
<g id="clust1" class="cluster">
<title>cluster_1</title>
<polygon fill="#dadada" stroke="#dadada" points="8,-8 8,-506.4 650,-506.4 650,-8 8,-8"/>
<text text-anchor="start" x="259.32" y="-491.6" font-family="arial" font-size="12.00" fill="#000000">Structure Layout in WGSL</text>
</g>
<!-- n0 -->
<g id="node1" class="node">
<title>n0</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M630,-210C630,-210 458,-210 458,-210 452,-210 446,-204 446,-198 446,-198 446,-170 446,-170 446,-164 452,-158 458,-158 458,-158 630,-158 630,-158 636,-158 642,-164 642,-170 642,-170 642,-198 642,-198 642,-204 636,-210 630,-210"/>
<text text-anchor="start" x="503.43" y="-196" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Offset decorations</text>
<text text-anchor="start" x="464.03" y="-179" font-family="arial" font-size="10.00" fill="#000000">We need to have a separate &quot;offset&quot;</text>
<text text-anchor="start" x="481.21" y="-167" font-family="arial" font-size="10.00" fill="#000000"> decorator on each member.</text>
</g>
<!-- n1 -->
<g id="node2" class="node">
<title>n1</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M522,-476C522,-476 350,-476 350,-476 344,-476 338,-470 338,-464 338,-464 338,-412 338,-412 338,-406 344,-400 350,-400 350,-400 522,-400 522,-400 528,-400 534,-406 534,-412 534,-412 534,-464 534,-464 534,-470 528,-476 522,-476"/>
<text text-anchor="start" x="397.1" y="-462" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Span decorations</text>
<text text-anchor="start" x="348.81" y="-445" font-family="arial" font-size="10.00" fill="#000000">We need to have a &quot;span&quot; decorator on</text>
<text text-anchor="start" x="351.26" y="-433" font-family="arial" font-size="10.00" fill="#000000"> the fields with types that occupy more</text>
<text text-anchor="start" x="360.69" y="-421" font-family="arial" font-size="10.00" fill="#000000"> space in the texture than the type</text>
<text text-anchor="start" x="419.33" y="-409" font-family="arial" font-size="10.00" fill="#000000"> size is.</text>
</g>
<!-- n2 -->
<g id="node3" class="node">
<title>n2</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M255,-470C255,-470 83,-470 83,-470 77,-470 71,-464 71,-458 71,-458 71,-418 71,-418 71,-412 77,-406 83,-406 83,-406 255,-406 255,-406 261,-406 267,-412 267,-418 267,-418 267,-458 267,-458 267,-464 261,-470 255,-470"/>
<text text-anchor="start" x="129.26" y="-456" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Layout decoration</text>
<text text-anchor="start" x="82.03" y="-439" font-family="arial" font-size="10.00" fill="#000000">We just need a decoration on the struct</text>
<text text-anchor="start" x="91.75" y="-427" font-family="arial" font-size="10.00" fill="#000000"> itself. Based on the layout, we can</text>
<text text-anchor="start" x="97.03" y="-415" font-family="arial" font-size="10.00" fill="#000000"> compute the layout of the fields.</text>
</g>
<!-- n3 -->
<g id="node4" class="node">
<title>n3</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M200,-210C200,-210 28,-210 28,-210 22,-210 16,-204 16,-198 16,-198 16,-170 16,-170 16,-164 22,-158 28,-158 28,-158 200,-158 200,-158 206,-158 212,-164 212,-170 212,-170 212,-198 212,-198 212,-204 206,-210 200,-210"/>
<text text-anchor="start" x="83.72" y="-196" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Unified layout</text>
<text text-anchor="start" x="30.64" y="-179" font-family="arial" font-size="10.00" fill="#000000">We should define one and only layout</text>
<text text-anchor="start" x="29.54" y="-167" font-family="arial" font-size="10.00" fill="#000000"> enforced in all host&#45;shareable structs.</text>
</g>
<!-- n4 -->
<g id="node5" class="node">
<title>n4</title>
<path fill="#1b9e77" stroke="black" d="M630,-104C630,-104 458,-104 458,-104 452,-104 446,-98 446,-92 446,-92 446,-28 446,-28 446,-22 452,-16 458,-16 458,-16 630,-16 630,-16 636,-16 642,-22 642,-28 642,-28 642,-92 642,-92 642,-98 636,-104 630,-104"/>
<text text-anchor="start" x="525.38" y="-90" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Verbose</text>
<text text-anchor="start" x="485.94" y="-73" font-family="arial" font-size="10.00" fill="#000000">sprinkling offsets is mostly</text>
<text text-anchor="start" x="467.32" y="-61" font-family="arial" font-size="10.00" fill="#000000"> mechanical, but still tedious. Each</text>
<text text-anchor="start" x="469.8" y="-49" font-family="arial" font-size="10.00" fill="#000000"> offset depends on the type of the</text>
<text text-anchor="start" x="464.54" y="-37" font-family="arial" font-size="10.00" fill="#000000"> current field as well as the previous</text>
<text text-anchor="start" x="528.99" y="-25" font-family="arial" font-size="10.00" fill="#000000"> offset.</text>
</g>
<!-- n4&#45;&gt;n0 -->
<g id="edge1" class="edge">
<title>n4&#45;&gt;n0</title>
<path fill="none" stroke="#ff0000" d="M544,-104.01C544,-118.2 544,-133.8 544,-147.37"/>
<polygon fill="#ff0000" stroke="#ff0000" points="540.5,-147.75 544,-157.75 547.5,-147.75 540.5,-147.75"/>
</g>
<!-- n5 -->
<g id="node6" class="node">
<title>n5</title>
<path fill="#1b9e77" stroke="black" d="M629,-352C629,-352 457,-352 457,-352 451,-352 445,-346 445,-340 445,-340 445,-288 445,-288 445,-282 451,-276 457,-276 457,-276 629,-276 629,-276 635,-276 641,-282 641,-288 641,-288 641,-340 641,-340 641,-346 635,-352 629,-352"/>
<text text-anchor="start" x="525.77" y="-338" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Context</text>
<text text-anchor="start" x="463.82" y="-321" font-family="arial" font-size="10.00" fill="#000000">it&#39;s easy to miss the fact that a span</text>
<text text-anchor="start" x="468.53" y="-309" font-family="arial" font-size="10.00" fill="#000000"> of a field actually depends on the</text>
<text text-anchor="start" x="467.42" y="-297" font-family="arial" font-size="10.00" fill="#000000"> type of the next field, since a type</text>
<text text-anchor="start" x="491.6" y="-285" font-family="arial" font-size="10.00" fill="#000000"> dictates the alignment.</text>
</g>
<!-- n5&#45;&gt;n1 -->
<g id="edge2" class="edge">
<title>n5&#45;&gt;n1</title>
<path fill="none" stroke="#ff0000" d="M510.32,-352.27C499.22,-364.92 486.71,-379.19 475.16,-392.36"/>
<polygon fill="#ff0000" stroke="#ff0000" points="472.45,-390.14 468.48,-399.96 477.71,-394.75 472.45,-390.14"/>
</g>
<!-- n6 -->
<g id="node7" class="node">
<title>n6</title>
<path fill="#1b9e77" stroke="black" d="M415,-364C415,-364 243,-364 243,-364 237,-364 231,-358 231,-352 231,-352 231,-276 231,-276 231,-270 237,-264 243,-264 243,-264 415,-264 415,-264 421,-264 427,-270 427,-276 427,-276 427,-352 427,-352 427,-358 421,-364 415,-364"/>
<text text-anchor="start" x="303.71" y="-350" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Automation</text>
<text text-anchor="start" x="241.2" y="-333" font-family="arial" font-size="10.00" fill="#000000">given knowledge of where a structure is</text>
<text text-anchor="start" x="252.88" y="-321" font-family="arial" font-size="10.00" fill="#000000"> used (uniform vs storage buffers),</text>
<text text-anchor="start" x="253.98" y="-309" font-family="arial" font-size="10.00" fill="#000000"> figuring out the structure layout is</text>
<text text-anchor="start" x="245.38" y="-297" font-family="arial" font-size="10.00" fill="#000000"> mechanical. We shouldn&#39;t require the</text>
<text text-anchor="start" x="256.76" y="-285" font-family="arial" font-size="10.00" fill="#000000"> user to do this by hand if we are</text>
<text text-anchor="start" x="250.37" y="-273" font-family="arial" font-size="10.00" fill="#000000"> going to be computing it ourselves.</text>
</g>
<!-- n6&#45;&gt;n1 -->
<g id="edge3" class="edge">
<title>n6&#45;&gt;n1</title>
<path fill="none" stroke="#00ff00" d="M372.21,-364.27C380.37,-373.57 388.86,-383.25 396.88,-392.39"/>
<polygon fill="#00ff00" stroke="#00ff00" points="394.27,-394.72 403.49,-399.93 399.53,-390.11 394.27,-394.72"/>
</g>
<!-- n6&#45;&gt;n2 -->
<g id="edge4" class="edge">
<title>n6&#45;&gt;n2</title>
<path fill="none" stroke="#00ff00" d="M264.38,-364.27C248.87,-376.1 232.55,-388.54 217.89,-399.72"/>
<polygon fill="#00ff00" stroke="#00ff00" points="215.76,-396.95 209.93,-405.79 220,-402.51 215.76,-396.95"/>
</g>
<!-- n7 -->
<g id="node8" class="node">
<title>n7</title>
<path fill="#1b9e77" stroke="black" d="M415,-228C415,-228 243,-228 243,-228 237,-228 231,-222 231,-216 231,-216 231,-152 231,-152 231,-146 237,-140 243,-140 243,-140 415,-140 415,-140 421,-140 427,-146 427,-152 427,-152 427,-216 427,-216 427,-222 421,-228 415,-228"/>
<text text-anchor="start" x="310.66" y="-214" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Padding</text>
<text text-anchor="start" x="248.14" y="-197" font-family="arial" font-size="10.00" fill="#000000">if the user needs extra padding, they</text>
<text text-anchor="start" x="248.15" y="-185" font-family="arial" font-size="10.00" fill="#000000"> can insert it themselves. Most users</text>
<text text-anchor="start" x="243.14" y="-173" font-family="arial" font-size="10.00" fill="#000000"> don&#39;t need extra padding, so inventing</text>
<text text-anchor="start" x="243.69" y="-161" font-family="arial" font-size="10.00" fill="#000000"> language tools to address this need is</text>
<text text-anchor="start" x="286.2" y="-149" font-family="arial" font-size="10.00" fill="#000000"> too heavy&#45;handed.</text>
</g>
<!-- n7&#45;&gt;n6 -->
<g id="edge5" class="edge">
<title>n7&#45;&gt;n6</title>
<path fill="none" stroke="#00ff00" d="M329,-228.33C329,-236.57 329,-245.32 329,-253.95"/>
<polygon fill="#00ff00" stroke="#00ff00" points="325.5,-253.98 329,-263.98 332.5,-253.98 325.5,-253.98"/>
</g>
<!-- n8 -->
<g id="node9" class="node">
<title>n8</title>
<path fill="#1b9e77" stroke="black" d="M416,-98C416,-98 242,-98 242,-98 236,-98 230,-92 230,-86 230,-86 230,-34 230,-34 230,-28 236,-22 242,-22 242,-22 416,-22 416,-22 422,-22 428,-28 428,-34 428,-34 428,-86 428,-86 428,-92 422,-98 416,-98"/>
<text text-anchor="start" x="305.66" y="-84" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Rich types</text>
<text text-anchor="start" x="241.2" y="-67" font-family="arial" font-size="10.00" fill="#000000">Where necessary, we can introduce the</text>
<text text-anchor="start" x="260.93" y="-55" font-family="arial" font-size="10.00" fill="#000000"> types with different layout. For</text>
<text text-anchor="start" x="239.82" y="-43" font-family="arial" font-size="10.00" fill="#000000"> example, a `vec3w` would take as much</text>
<text text-anchor="start" x="292.05" y="-31" font-family="arial" font-size="10.00" fill="#000000"> space as `vec4`.</text>
</g>
<!-- n8&#45;&gt;n7 -->
<g id="edge6" class="edge">
<title>n8&#45;&gt;n7</title>
<path fill="none" stroke="#00ff00" d="M329,-98.27C329,-108.25 329,-119.24 329,-129.9"/>
<polygon fill="#00ff00" stroke="#00ff00" points="325.5,-129.98 329,-139.98 332.5,-129.98 325.5,-129.98"/>
</g>
<!-- n9 -->
<g id="node10" class="node">
<title>n9</title>
<path fill="#1b9e77" stroke="black" d="M201,-352C201,-352 29,-352 29,-352 23,-352 17,-346 17,-340 17,-340 17,-288 17,-288 17,-282 23,-276 29,-276 29,-276 201,-276 201,-276 207,-276 213,-282 213,-288 213,-288 213,-340 213,-340 213,-346 207,-352 201,-352"/>
<text text-anchor="start" x="81.38" y="-338" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Easy validation</text>
<text text-anchor="start" x="45.81" y="-321" font-family="arial" font-size="10.00" fill="#000000">once you see a structure with a</text>
<text text-anchor="start" x="39.44" y="-309" font-family="arial" font-size="10.00" fill="#000000"> concrete layout, it&#39;s clear whether</text>
<text text-anchor="start" x="33.04" y="-297" font-family="arial" font-size="10.00" fill="#000000"> this structure can be used in uniform</text>
<text text-anchor="start" x="73.04" y="-285" font-family="arial" font-size="10.00" fill="#000000"> or storage buffers.</text>
</g>
<!-- n9&#45;&gt;n2 -->
<g id="edge7" class="edge">
<title>n9&#45;&gt;n2</title>
<path fill="none" stroke="#00ff00" d="M131.5,-352.27C137.64,-366.16 144.65,-382 150.94,-396.19"/>
<polygon fill="#00ff00" stroke="#00ff00" points="147.9,-397.98 155.15,-405.71 154.3,-395.15 147.9,-397.98"/>
</g>
<!-- n10 -->
<g id="node11" class="node">
<title>n10</title>
<path fill="#1b9e77" stroke="black" d="M200,-92C200,-92 28,-92 28,-92 22,-92 16,-86 16,-80 16,-80 16,-40 16,-40 16,-34 22,-28 28,-28 28,-28 200,-28 200,-28 206,-28 212,-34 212,-40 212,-40 212,-80 212,-80 212,-86 206,-92 200,-92"/>
<text text-anchor="start" x="96.49" y="-78" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Storage</text>
<text text-anchor="start" x="33.14" y="-61" font-family="arial" font-size="10.00" fill="#000000">Storage buffers can use a more tight</text>
<text text-anchor="start" x="28.43" y="-49" font-family="arial" font-size="10.00" fill="#000000"> layout, and for many users this makes</text>
<text text-anchor="start" x="38.71" y="-37" font-family="arial" font-size="10.00" fill="#000000"> a solid difference in performance.</text>
</g>
<!-- n10&#45;&gt;n3 -->
<g id="edge8" class="edge">
<title>n10&#45;&gt;n3</title>
<path fill="none" stroke="#ff0000" d="M114,-92.1C114,-108.94 114,-129.81 114,-147.31"/>
<polygon fill="#ff0000" stroke="#ff0000" points="110.5,-147.7 114,-157.7 117.5,-147.7 110.5,-147.7"/>
</g>
</g>
</svg>
</div></argdown-map></figure>