<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@argdown/web-components/dist/argdown-map.css"><script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs/webcomponents-bundle.js" type="module"></script><script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@argdown/web-components/dist/argdown-map.js"></script><figure  role="group" class="argdown-figure"><argdown-map      initial-view="map"><div slot="source" class=""><pre class="language-argdown"><code class="language-argdown"><span class="hljs-section">## Robust Buffer Access</span>
<span class="hljs-comment">&lt;!--
Using Vulkan-style Robust Buffer Access in WebGPU.
See the summary in https://github.com/gpuweb/gpuweb/issues/955
--&gt;</span>

<span class="hljs-statement-title">[Vulkan-RBA]:</span> We should always enable RBA on Vulkan.
<span class="hljs-support">  +</span> <span class="hljs-argument-title">&lt;future-compat&gt;:</span> we can tighten the requirements to be more portable later

<span class="hljs-statement-title">[RBA-non-portable]:</span> Vulkan&#x27;s RBA guarantees are too weak.
Exposing it to the Web could hurt the portability of the API and applications.
<span class="hljs-support">  +</span> <span class="hljs-argument-title">&lt;writes&gt;:</span> OOB writes can be redirected to a random location within the resource, not necessarily discarded
<span class="hljs-support">  +</span> <span class="hljs-argument-title">&lt;reads&gt;:</span> OOB reads can return one of many different values, or any value within the resource
<span class="hljs-support">  +</span> <span class="hljs-argument-title">&lt;atomics&gt;:</span> OOB atomics return totally undefined values
<span class="hljs-support">  +</span> <span class="hljs-argument-title">&lt;range&gt;:</span> resource binding range is not respected
<span class="hljs-attack">  -&gt;</span> <span class="hljs-statement-title">[Vulkan-RBA]</span>

<span class="hljs-argument-title">&lt;Hyrum&#x27;s Law&gt;:</span> With a sufficient number of users of an API,
it does not matter what you promise in the contract:
all observable behaviors of your system
will be depended on by somebody.

<span class="hljs-argument-statement-nr">  (1)</span> Developer makes an application that writes a word outside of a storage buffer bounds,
  and ships it widely.
<span class="hljs-argument-statement-nr">  (2)</span> The application works well on all Metal, D3D12, and most Vulkan platforms,
  where the write simply gets discarded.
  However, developer receives bugs about some Vulkan platforms corrupting the data occasionally,
  producing incorrect and unexpected results.
<span class="hljs-inference">  ----</span>
<span class="hljs-argument-statement-nr">  (3)</span> Developer and the application community blame Vulkan and WebGPU implementations.
<span class="hljs-support">    +&gt;</span> <span class="hljs-statement-title">[RBA-non-portable]</span>

[<span class="hljs-string">Vulkan-RBA2-opt</span>]: We should only use [<span class="hljs-string">VK_EXT_robustness2</span>](<span class="hljs-link">https://www.khronos.org/registry/vulkan/specs/1.2-extensions/man/html/VK_EXT_robustness2.html</span>) where available, and have a fallback otherwise.
<span class="hljs-attack">  -</span> <span class="hljs-argument-title">&lt;availability&gt;:</span> it&#x27;s not available everywhere
<span class="hljs-support">  +</span> <span class="hljs-argument-title">&lt;consistency&gt;:</span> it provides the same guarantees as D3D12, and what we are going to do on Metal, which are much more portable.

<span class="hljs-statement-title">[Emulation-cost]:</span> Emulating RBA on Vulkan is expensive.
<span class="hljs-support">  +</span> <span class="hljs-argument-title">&lt;extra descriptor set&gt;:</span> in order to do vertex pulling, we&#x27;d need another descriptor set,
    and this can be needed on devices that already have only 4 descriptor sets max.
<span class="hljs-attack">  -</span> <span class="hljs-argument-title">&lt;non-free&gt;:</span> RBA feature is not free either, and the cost may very between platforms.
<span class="hljs-attack">  -</span> <span class="hljs-argument-title">&lt;min-size&gt;:</span> we don&#x27;t need to do anything for the structured part of buffers, since it&#x27;s covered by [<span class="hljs-string">minBufferBindingSize</span>](<span class="hljs-link">https://github.com/gpuweb/gpuweb/pull/678</span>).
<span class="hljs-attack">  -&gt;</span> <span class="hljs-statement-title">[Vulkan-RBA2-opt]</span>
</code></pre></div><div slot="map">
<!-- Generated by graphviz version 2.44.1 (20200629.0846)
 -->
<!-- Title: Argument Map Pages: 1 -->
<svg width="720pt" height="150pt"
 viewBox="0.00 0.00 720.00 150.48" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(0.42 0.42) rotate(0) translate(4 358.4)">
<title>Argument Map</title>
<g id="clust1" class="cluster">
<title>cluster_1</title>
<polygon fill="#dadada" stroke="#dadada" points="8,-8 8,-346.4 1718,-346.4 1718,-8 8,-8"/>
<text text-anchor="start" x="805.32" y="-331.6" font-family="arial" font-size="12.00" fill="#000000">Robust Buffer Access</text>
</g>
<!-- n0 -->
<g id="node1" class="node">
<title>n0</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M1382,-304C1382,-304 1200,-304 1200,-304 1194,-304 1188,-298 1188,-292 1188,-292 1188,-276 1188,-276 1188,-270 1194,-264 1200,-264 1200,-264 1382,-264 1382,-264 1388,-264 1394,-270 1394,-276 1394,-276 1394,-292 1394,-292 1394,-298 1388,-304 1382,-304"/>
<text text-anchor="start" x="1263.77" y="-290" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Vulkan&#45;RBA</text>
<text text-anchor="start" x="1197.64" y="-273" font-family="arial" font-size="10.00" fill="#000000">We should always enable RBA on Vulkan.</text>
</g>
<!-- n1 -->
<g id="node2" class="node">
<title>n1</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M1270,-216C1270,-216 1098,-216 1098,-216 1092,-216 1086,-210 1086,-204 1086,-204 1086,-152 1086,-152 1086,-146 1092,-140 1098,-140 1098,-140 1270,-140 1270,-140 1276,-140 1282,-146 1282,-152 1282,-152 1282,-204 1282,-204 1282,-210 1276,-216 1270,-216"/>
<text text-anchor="start" x="1143.99" y="-202" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">RBA&#45;non&#45;portable</text>
<text text-anchor="start" x="1095.65" y="-185" font-family="arial" font-size="10.00" fill="#000000">Vulkan&#39;s RBA guarantees are too weak.</text>
<text text-anchor="start" x="1100.92" y="-173" font-family="arial" font-size="10.00" fill="#000000"> Exposing it to the Web could hurt the</text>
<text text-anchor="start" x="1128.15" y="-161" font-family="arial" font-size="10.00" fill="#000000"> portability of the API and</text>
<text text-anchor="start" x="1154.83" y="-149" font-family="arial" font-size="10.00" fill="#000000"> applications.</text>
</g>
<!-- n1&#45;&gt;n0 -->
<g id="edge6" class="edge">
<title>n1&#45;&gt;n0</title>
<path fill="none" stroke="#ff0000" d="M1222.33,-216.25C1236.03,-229.57 1251.19,-244.3 1263.77,-256.53"/>
<polygon fill="#ff0000" stroke="#ff0000" points="1261.62,-259.32 1271.23,-263.78 1266.5,-254.3 1261.62,-259.32"/>
</g>
<!-- n2 -->
<g id="node3" class="node">
<title>n2</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M635,-316C635,-316 451,-316 451,-316 445,-316 439,-310 439,-304 439,-304 439,-264 439,-264 439,-258 445,-252 451,-252 451,-252 635,-252 635,-252 641,-252 647,-258 647,-264 647,-264 647,-304 647,-304 647,-310 641,-316 635,-316"/>
<text text-anchor="start" x="504.38" y="-302" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Vulkan&#45;RBA2&#45;opt</text>
<text text-anchor="start" x="448.81" y="-285" font-family="arial" font-size="10.00" fill="#000000">We should only use VK_EXT_robustness2</text>
<text text-anchor="start" x="461.03" y="-273" font-family="arial" font-size="10.00" fill="#000000"> where available, and have a fallback</text>
<text text-anchor="start" x="518.83" y="-261" font-family="arial" font-size="10.00" fill="#000000"> otherwise.</text>
</g>
<!-- n3 -->
<g id="node4" class="node">
<title>n3</title>
<path fill="white" stroke="#1b9e77" stroke-width="2" d="M414,-198C414,-198 242,-198 242,-198 236,-198 230,-192 230,-186 230,-186 230,-170 230,-170 230,-164 236,-158 242,-158 242,-158 414,-158 414,-158 420,-158 426,-164 426,-170 426,-170 426,-186 426,-186 426,-192 420,-198 414,-198"/>
<text text-anchor="start" x="294.94" y="-184" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Emulation&#45;cost</text>
<text text-anchor="start" x="240.2" y="-167" font-family="arial" font-size="10.00" fill="#000000">Emulating RBA on Vulkan is expensive.</text>
</g>
<!-- n3&#45;&gt;n2 -->
<g id="edge13" class="edge">
<title>n3&#45;&gt;n2</title>
<path fill="none" stroke="#ff0000" d="M367.43,-198.08C395.92,-211.86 435.25,-230.88 469.46,-247.43"/>
<polygon fill="#ff0000" stroke="#ff0000" points="467.97,-250.59 478.49,-251.8 471.01,-244.29 467.97,-250.59"/>
</g>
<!-- n4 -->
<g id="node5" class="node">
<title>n4</title>
<path fill="#1b9e77" stroke="black" d="M1484,-204C1484,-204 1312,-204 1312,-204 1306,-204 1300,-198 1300,-192 1300,-192 1300,-164 1300,-164 1300,-158 1306,-152 1312,-152 1312,-152 1484,-152 1484,-152 1490,-152 1496,-158 1496,-164 1496,-164 1496,-192 1496,-192 1496,-198 1490,-204 1484,-204"/>
<text text-anchor="start" x="1367.16" y="-190" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">future&#45;compat</text>
<text text-anchor="start" x="1314.36" y="-173" font-family="arial" font-size="10.00" fill="#000000">we can tighten the requirements to be</text>
<text text-anchor="start" x="1354.66" y="-161" font-family="arial" font-size="10.00" fill="#000000"> more portable later</text>
</g>
<!-- n4&#45;&gt;n0 -->
<g id="edge1" class="edge">
<title>n4&#45;&gt;n0</title>
<path fill="none" stroke="#00ff00" d="M1372.1,-204.18C1355.69,-220.13 1334.5,-240.72 1317.9,-256.85"/>
<polygon fill="#00ff00" stroke="#00ff00" points="1315.36,-254.44 1310.63,-263.92 1320.24,-259.46 1315.36,-254.44"/>
</g>
<!-- n5 -->
<g id="node6" class="node">
<title>n5</title>
<path fill="#1b9e77" stroke="black" d="M1698,-92C1698,-92 1526,-92 1526,-92 1520,-92 1514,-86 1514,-80 1514,-80 1514,-40 1514,-40 1514,-34 1520,-28 1526,-28 1526,-28 1698,-28 1698,-28 1704,-28 1710,-34 1710,-40 1710,-40 1710,-80 1710,-80 1710,-86 1704,-92 1698,-92"/>
<text text-anchor="start" x="1598.95" y="-78" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">writes</text>
<text text-anchor="start" x="1536.7" y="-61" font-family="arial" font-size="10.00" fill="#000000">OOB writes can be redirected to a</text>
<text text-anchor="start" x="1530.32" y="-49" font-family="arial" font-size="10.00" fill="#000000"> random location within the resource,</text>
<text text-anchor="start" x="1554.21" y="-37" font-family="arial" font-size="10.00" fill="#000000"> not necessarily discarded</text>
</g>
<!-- n5&#45;&gt;n1 -->
<g id="edge2" class="edge">
<title>n5&#45;&gt;n1</title>
<path fill="none" stroke="#00ff00" d="M1540.79,-92.08C1528.98,-96.52 1516.76,-100.69 1505,-104 1415.24,-129.27 1386.37,-117.04 1292.01,-139.9"/>
<polygon fill="#00ff00" stroke="#00ff00" points="1290.91,-136.57 1282.05,-142.38 1292.6,-143.36 1290.91,-136.57"/>
</g>
<!-- n6 -->
<g id="node7" class="node">
<title>n6</title>
<path fill="#1b9e77" stroke="black" d="M1484,-92C1484,-92 1312,-92 1312,-92 1306,-92 1300,-86 1300,-80 1300,-80 1300,-40 1300,-40 1300,-34 1306,-28 1312,-28 1312,-28 1484,-28 1484,-28 1490,-28 1496,-34 1496,-40 1496,-40 1496,-80 1496,-80 1496,-86 1490,-92 1484,-92"/>
<text text-anchor="start" x="1385.5" y="-78" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">reads</text>
<text text-anchor="start" x="1320.2" y="-61" font-family="arial" font-size="10.00" fill="#000000">OOB reads can return one of many</text>
<text text-anchor="start" x="1318.54" y="-49" font-family="arial" font-size="10.00" fill="#000000"> different values, or any value within</text>
<text text-anchor="start" x="1368.83" y="-37" font-family="arial" font-size="10.00" fill="#000000"> the resource</text>
</g>
<!-- n6&#45;&gt;n1 -->
<g id="edge3" class="edge">
<title>n6&#45;&gt;n1</title>
<path fill="none" stroke="#00ff00" d="M1340.65,-92.09C1316.4,-105.23 1287.77,-120.75 1261.67,-134.9"/>
<polygon fill="#00ff00" stroke="#00ff00" points="1259.67,-132 1252.55,-139.84 1263.01,-138.15 1259.67,-132"/>
</g>
<!-- n7 -->
<g id="node8" class="node">
<title>n7</title>
<path fill="#1b9e77" stroke="black" d="M1270,-86C1270,-86 1098,-86 1098,-86 1092,-86 1086,-80 1086,-74 1086,-74 1086,-46 1086,-46 1086,-40 1092,-34 1098,-34 1098,-34 1270,-34 1270,-34 1276,-34 1282,-40 1282,-46 1282,-46 1282,-74 1282,-74 1282,-80 1276,-86 1270,-86"/>
<text text-anchor="start" x="1166.78" y="-72" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">atomics</text>
<text text-anchor="start" x="1102.04" y="-55" font-family="arial" font-size="10.00" fill="#000000">OOB atomics return totally undefined</text>
<text text-anchor="start" x="1168.16" y="-43" font-family="arial" font-size="10.00" fill="#000000"> values</text>
</g>
<!-- n7&#45;&gt;n1 -->
<g id="edge4" class="edge">
<title>n7&#45;&gt;n1</title>
<path fill="none" stroke="#00ff00" d="M1184,-86.17C1184,-98.95 1184,-114.89 1184,-129.84"/>
<polygon fill="#00ff00" stroke="#00ff00" points="1180.5,-129.98 1184,-139.98 1187.5,-129.98 1180.5,-129.98"/>
</g>
<!-- n8 -->
<g id="node9" class="node">
<title>n8</title>
<path fill="#1b9e77" stroke="black" d="M1056,-80C1056,-80 884,-80 884,-80 878,-80 872,-74 872,-68 872,-68 872,-52 872,-52 872,-46 878,-40 884,-40 884,-40 1056,-40 1056,-40 1062,-40 1068,-46 1068,-52 1068,-52 1068,-68 1068,-68 1068,-74 1062,-80 1056,-80"/>
<text text-anchor="start" x="957.22" y="-66" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">range</text>
<text text-anchor="start" x="882.2" y="-49" font-family="arial" font-size="10.00" fill="#000000">resource binding range is not respected</text>
</g>
<!-- n8&#45;&gt;n1 -->
<g id="edge5" class="edge">
<title>n8&#45;&gt;n1</title>
<path fill="none" stroke="#00ff00" d="M1005.34,-80.16C1032.8,-95.04 1071.92,-116.25 1106.55,-135.02"/>
<polygon fill="#00ff00" stroke="#00ff00" points="1105.26,-138.3 1115.72,-139.99 1108.6,-132.15 1105.26,-138.3"/>
</g>
<!-- n9 -->
<g id="node10" class="node">
<title>n9</title>
<path fill="#1b9e77" stroke="black" d="M842,-104C842,-104 670,-104 670,-104 664,-104 658,-98 658,-92 658,-92 658,-28 658,-28 658,-22 664,-16 670,-16 670,-16 842,-16 842,-16 848,-16 854,-22 854,-28 854,-28 854,-92 854,-92 854,-98 848,-104 842,-104"/>
<text text-anchor="start" x="727.12" y="-90" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">Hyrum&#39;s Law</text>
<text text-anchor="start" x="670.7" y="-73" font-family="arial" font-size="10.00" fill="#000000">With a sufficient number of users of an</text>
<text text-anchor="start" x="683.76" y="-61" font-family="arial" font-size="10.00" fill="#000000"> API, it does not matter what you</text>
<text text-anchor="start" x="696.27" y="-49" font-family="arial" font-size="10.00" fill="#000000"> promise in the contract: all</text>
<text text-anchor="start" x="673.2" y="-37" font-family="arial" font-size="10.00" fill="#000000"> observable behaviors of your system</text>
<text text-anchor="start" x="677.64" y="-25" font-family="arial" font-size="10.00" fill="#000000"> will be depended on by somebody.</text>
</g>
<!-- n9&#45;&gt;n1 -->
<g id="edge7" class="edge">
<title>n9&#45;&gt;n1</title>
<path fill="none" stroke="#00ff00" d="M854.03,-101.1C857.04,-102.1 860.04,-103.07 863,-104 932.77,-125.8 1012.96,-144.04 1075.73,-156.84"/>
<polygon fill="#00ff00" stroke="#00ff00" points="1075.16,-160.29 1085.65,-158.84 1076.55,-153.43 1075.16,-160.29"/>
</g>
<!-- n10 -->
<g id="node11" class="node">
<title>n10</title>
<path fill="#1b9e77" stroke="black" d="M844,-198C844,-198 672,-198 672,-198 666,-198 660,-192 660,-186 660,-186 660,-170 660,-170 660,-164 666,-158 672,-158 672,-158 844,-158 844,-158 850,-158 856,-164 856,-170 856,-170 856,-186 856,-186 856,-192 850,-198 844,-198"/>
<text text-anchor="start" x="734.95" y="-184" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">availability</text>
<text text-anchor="start" x="695.22" y="-167" font-family="arial" font-size="10.00" fill="#000000">it&#39;s not available everywhere</text>
</g>
<!-- n10&#45;&gt;n2 -->
<g id="edge8" class="edge">
<title>n10&#45;&gt;n2</title>
<path fill="none" stroke="#ff0000" d="M718.57,-198.08C690.08,-211.86 650.75,-230.88 616.54,-247.43"/>
<polygon fill="#ff0000" stroke="#ff0000" points="614.99,-244.29 607.51,-251.8 618.03,-250.59 614.99,-244.29"/>
</g>
<!-- n11 -->
<g id="node12" class="node">
<title>n11</title>
<path fill="#1b9e77" stroke="black" d="M630,-210C630,-210 456,-210 456,-210 450,-210 444,-204 444,-198 444,-198 444,-158 444,-158 444,-152 450,-146 456,-146 456,-146 630,-146 630,-146 636,-146 642,-152 642,-158 642,-158 642,-198 642,-198 642,-204 636,-210 630,-210"/>
<text text-anchor="start" x="516.88" y="-196" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">consistency</text>
<text text-anchor="start" x="465.2" y="-179" font-family="arial" font-size="10.00" fill="#000000">it provides the same guarantees as</text>
<text text-anchor="start" x="453.52" y="-167" font-family="arial" font-size="10.00" fill="#000000"> D3D12, and what we are going to do on</text>
<text text-anchor="start" x="457.99" y="-155" font-family="arial" font-size="10.00" fill="#000000"> Metal, which are much more portable.</text>
</g>
<!-- n11&#45;&gt;n2 -->
<g id="edge9" class="edge">
<title>n11&#45;&gt;n2</title>
<path fill="none" stroke="#00ff00" d="M543,-210.2C543,-220.08 543,-231.15 543,-241.62"/>
<polygon fill="#00ff00" stroke="#00ff00" points="539.5,-241.82 543,-251.82 546.5,-241.82 539.5,-241.82"/>
</g>
<!-- n12 -->
<g id="node13" class="node">
<title>n12</title>
<path fill="#1b9e77" stroke="black" d="M628,-98C628,-98 456,-98 456,-98 450,-98 444,-92 444,-86 444,-86 444,-34 444,-34 444,-28 450,-22 456,-22 456,-22 628,-22 628,-22 634,-22 640,-28 640,-34 640,-34 640,-86 640,-86 640,-92 634,-98 628,-98"/>
<text text-anchor="start" x="499.49" y="-84" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">extra descriptor set</text>
<text text-anchor="start" x="468.66" y="-67" font-family="arial" font-size="10.00" fill="#000000">in order to do vertex pulling, we&#39;d</text>
<text text-anchor="start" x="459.47" y="-55" font-family="arial" font-size="10.00" fill="#000000"> need another descriptor set, and this</text>
<text text-anchor="start" x="454.74" y="-43" font-family="arial" font-size="10.00" fill="#000000"> can be needed on devices that already</text>
<text text-anchor="start" x="468.93" y="-31" font-family="arial" font-size="10.00" fill="#000000"> have only 4 descriptor sets max.</text>
</g>
<!-- n12&#45;&gt;n3 -->
<g id="edge10" class="edge">
<title>n12&#45;&gt;n3</title>
<path fill="none" stroke="#00ff00" d="M473.7,-98.02C440.48,-116.03 401.5,-137.16 372.23,-153.03"/>
<polygon fill="#00ff00" stroke="#00ff00" points="370.2,-150.14 363.08,-157.98 373.54,-156.3 370.2,-150.14"/>
</g>
<!-- n13 -->
<g id="node14" class="node">
<title>n13</title>
<path fill="#1b9e77" stroke="black" d="M414,-86C414,-86 242,-86 242,-86 236,-86 230,-80 230,-74 230,-74 230,-46 230,-46 230,-40 236,-34 242,-34 242,-34 414,-34 414,-34 420,-34 426,-40 426,-46 426,-46 426,-74 426,-74 426,-80 420,-86 414,-86"/>
<text text-anchor="start" x="309.38" y="-72" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">non&#45;free</text>
<text text-anchor="start" x="244.08" y="-55" font-family="arial" font-size="10.00" fill="#000000">RBA feature is not free either, and the</text>
<text text-anchor="start" x="252.15" y="-43" font-family="arial" font-size="10.00" fill="#000000"> cost may very between platforms.</text>
</g>
<!-- n13&#45;&gt;n3 -->
<g id="edge11" class="edge">
<title>n13&#45;&gt;n3</title>
<path fill="none" stroke="#ff0000" d="M328,-86.17C328,-104.3 328,-128.82 328,-147.81"/>
<polygon fill="#ff0000" stroke="#ff0000" points="324.5,-147.99 328,-157.99 331.5,-147.99 324.5,-147.99"/>
</g>
<!-- n14 -->
<g id="node15" class="node">
<title>n14</title>
<path fill="#1b9e77" stroke="black" d="M200,-92C200,-92 28,-92 28,-92 22,-92 16,-86 16,-80 16,-80 16,-40 16,-40 16,-34 22,-28 28,-28 28,-28 200,-28 200,-28 206,-28 212,-34 212,-40 212,-40 212,-80 212,-80 212,-86 206,-92 200,-92"/>
<text text-anchor="start" x="95.39" y="-78" font-family="arial" font-weight="bold" font-size="10.00" fill="#000000">min&#45;size</text>
<text text-anchor="start" x="34.53" y="-61" font-family="arial" font-size="10.00" fill="#000000">we don&#39;t need to do anything for the</text>
<text text-anchor="start" x="36.21" y="-49" font-family="arial" font-size="10.00" fill="#000000"> structured part of buffers, since it&#39;s</text>
<text text-anchor="start" x="37.59" y="-37" font-family="arial" font-size="10.00" fill="#000000"> covered by minBufferBindingSize.</text>
</g>
<!-- n14&#45;&gt;n3 -->
<g id="edge12" class="edge">
<title>n14&#45;&gt;n3</title>
<path fill="none" stroke="#ff0000" d="M171.35,-92.09C206.66,-111.22 251.23,-135.39 283.8,-153.04"/>
<polygon fill="#ff0000" stroke="#ff0000" points="282.19,-156.15 292.65,-157.84 285.52,-149.99 282.19,-156.15"/>
</g>
</g>
</svg>
</div></argdown-map></figure>